.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  }


  .mat-toolbar{
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  #mynavbar{
    background-color: transparent;

  }

  #mynavbar a{
    text-align: center;
    font-size: 22px;
    color: black;
  }

  a:hover{
    border-bottom: 2px solid #112284;
  }


