
<mat-toolbar style="background-color:white ;">
  <div class="navbar" style="background-color:white ;">
        <nav class="navbar navbar-expand-lg" style="background-color:white ;">
          <div class="container-fluid" style="background-color:white ;">

            <h1 class="navbar-brand"
            style="font-size:1.8rem;
            font-weight:900;
            color:red; font-family: 'Mali', cursive;">MUSHHOOD AFSAR</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav"
            style="margin-left: 5vw;  padding-right: 5vw; background-color:white;">
              <div class="navbar-nav ml-auto" id="mynavbar"
              style="background-color:white;">
                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                 style="font-size:1.2rem;"  routerLink="home">Home</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                  style="font-size:1.2rem;" routerLink="my-projects">Projects</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem;"  routerLink="my-blogs">Blogs</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                 style="font-size:1.2rem;"  routerLink="my-services">Buy Now</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem; visibility: hidden;"
                 routerLink="my-achivements">Achivements</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                style="font-size:1.2rem; visibility: hidden;"
                 routerLink="my-future-plans">Future Plans</a>

                <a class="nav-item nav-link"
                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                type="button" style="font-size:1.2rem;visibility: hidden;"
                 value="Log in" (click)="clickme()">Login</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
</mat-toolbar>
