*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
overflow-x: hidden;
}

h1{
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.25;
  text-align: start;
  color: black;
}

h2{
  font-size: 1.35em;
  text-align: start;
  font-weight: light;
  margin-top: 10px;
}

p{
  text-align: justify;
  font-size: 1.125rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(23, 23, 23);
  text-rendering: optimizeSpeed;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

li{
  line-height: 1.5;
  font-size: 1.125rem;
  text-align: start;
  color: rgb(23, 23, 23);
}

.linkclas{
  text-align: justify;
  padding-top: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container0{
  height: 100%;
  width: 100vw;
  position: fixed;
  top:70px;
  overflow: visible;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:white;
}

.container{
  padding: 10px;
}


.container img{
  height: 300px;
}



::-webkit-scrollbar{
  width: 6px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
  border: 4px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgb(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(
      45deg,
      #06dee1,
      #70a9b8
  );
  border-radius: 1px;
}



.container2 {
  width: 100vw;
}
.container2 img{
  padding-right: 10px;
  height: 400px;
}



.images{
  height: 70%;
  width: 70%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

#myimage{
  height:55%;
  width: 80%;
  padding: 30px;
}

#image2{
  height:450px;
  width: 100%;
}

#overlaycontainer {
  padding: 30px;
  color: white;
  width: 100%;
  text-align: center;
  top: 100px;
  font-size: larger;
}

#overlaycontainer h3{
  width: 100vw;
  font-weight: bold;
}

.centerbody{
  background-color:white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.firstparagraph{
  width: 100%;
}
.firstparagraph h1{
  font-size: 40px;
  line-height: 50px;
  word-spacing: normal;
  font-weight: bolder;
  text-align: start;
}








#-------------------------------------PageLodder----------------------------------------------------










#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
