

  #post-button {
    position: fixed;
    bottom: 2em;
    right: 2em;}

    #post-button2 {
      position: fixed;
      bottom: 10em;
      right: 2em;}

      #post-button3 {
        position: fixed;
        bottom: 18em;
        right: 2em;}


