
<div id="post-button">
  <span> <b>Add Blog Posts</b></span>
  <button mat-fab color="warn"
  (click)="onCreatePostClick()">
  <mat-icon>add</mat-icon></button>
</div>

<div id="post-button2">
  <span> <b>Add Projects</b></span>
  <button mat-fab color="warn"
  (click)="onCreateProjectClick()">
  <mat-icon>P</mat-icon></button>
</div>

<div id="post-button3">
  <span> <b>Add Services</b></span>
  <button mat-fab color="warn"
  (click)="onCreateServiceClick()">
  <mat-icon>S</mat-icon></button>
</div>
