<p>my-achivements works!</p>
<a href="https://www.researchgate.net/profile/Mushhood-Afsar-2">Mushhood Afsar on ResearchGate</a>
<input type="text" name="check" id="chec"[(ngModel)]="message" >


<div class="container" *ngIf="message==''">
  <div class="row">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>

    <p class="spinner-message" >
      {{message}}
    </p>
  </div>
</div>
