<div class="card mb-1" style="max-width: 100vw;" id="card1" *ngIf="!submitted">
  <div class="row g-0">
    <div class="col-md-6">
      <div class="card-body" id="virtualcard">
        <h3> <b>
     <input type="text" class="form-control" placeholder=" Enter Project Title"
      [(ngModel)]="project.Title" name="ProjectTitle"> </b>
    </h3>

        <p class="card-text">
              <textarea matInput rows="6" placeholder="Enter Project's Description Here"
              [(ngModel)]="project.paragraph1" name="ProjectParagraphOne"
              style="width: 100%;"></textarea>
        </p>

        <p>
            <textarea matInput rows="6" placeholder="Enter Project's Further Description Here"
            [(ngModel)]="project.paragraph2" name="ProjectParagraphTwo"
            style="width: 100%;"></textarea>
        </p>

        <p>
            <textarea matInput rows="6" placeholder="Enter Project's Bullet Points Here"
            [(ngModel)]="project.BulletPoints" name="ProjectBulletPoints"
            style="width: 100%;"></textarea>
        </p>

        <div class="mb-3">
          <label for="formFile" class="form-label">Image Front</label>
          <input class="form-control" type="file" id="formFile"
          name="file" (input)="onFileChanged1($event)"
          accept=".jpeg,.jpg,.png,.svg">
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Image Left</label>
          <input class="form-control" type="file" id="formFile"
          name="file" (input)="onFileChanged2($event)"
          accept=".jpeg,.jpg,.png,.svg">
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Image Right</label>
          <input class="form-control" type="file" id="formFile"
          name="file" (input)="onFileChanged3($event)"
          accept=".jpeg,.jpg,.png,.svg">
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Image Back</label>
          <input class="form-control" type="file" id="formFile"
          name="file" (input)="onFileChanged4($event)"
          accept=".jpeg,.jpg,.png,.svg">
        </div>
        <p class="card-text"><small class="text-muted">
          <input type="text" class="form-control" placeholder=" Enter Developer's Names"
          [(ngModel)]="project.DevelopersName" name="ProjectDevelopers">
        </small></p>
      </div>
    </div>

    <div class="col-md-4 p-5" id="Box-animation-division">
      <div class="wrapper">
        <div class="container">
          <div class="image-cube">
            <div class="front">
              <img [src]="project.ImageUrl1"
              onerror="this.onerror=null; this.src='../../assets/images/No_image_available.svg.png';">
            </div>
            <div class="right">
              <img [src]="project.ImageUrl2"
              onerror="this.onerror=null; this.src='../../assets/images/No_image_available.svg.png';">
            </div>
            <div class="back">
              <img [src]="project.ImageUrl3"
              onerror="this.onerror=null; this.src='../../assets/images/No_image_available.svg.png';">
            </div>
            <div class="left">
              <img [src]="project.ImageUrl4"
              onerror="this.onerror=null; this.src='../../assets/images/No_image_available.svg.png';">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <button style="width: 150px; margin-top: 10px; margin-bottom: 10px; margin-left: 20px;" (click)="saveData()" class="btn btn-success">Submit</button>
</div>

<div *ngIf="submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newData()">Add</button>
</div>


