<section style="overflow-x: hidden">
  <div
    class="row"
    style="display: flex; align-items: flex-end"
    id="paddingclass"
  >
    <div class="col-md-7" id="paddingclass1">
      <div class="writencontent">
        <h3>Hi, I'm Mushhood.</h3>
        <h1>BS Computer Science. Developer.</h1>
        <h4>
          Multidisciplinary developer with sole purpose of continous
          innovation.<br />
          MEAN Stack Web Developer. Author of three Publications.<br />
          Alhamdulilah For Everything. ✌️
        </h4>
        <a style="color: green" href="#">
          Learn more
          <i
            style="font-weight: lighter"
            class="fa fa-chevron-right"
            aria-hidden="true"
          ></i
        ></a>
      </div>

      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <a id="facebook" href="https://www.facebook.com/mushhood.khan.18"
              ><i class="fa fa-facebook-official" aria-hidden="true"></i
            ></a>
          </div>
          <a id="facebook" href="https://www.facebook.com/mushhood.khan.18">
            <span>Facebook</span></a
          >
        </div>
        <div class="button">
          <div class="icon">
            <a id="twitter" href="https://twitter.com/PATRIOTWICK"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
          <a id="twitter" href="https://twitter.com/PATRIOTWICK">
            <span>Twitter</span></a
          >
        </div>
        <div class="button">
          <div class="icon">
            <a
              id="insta"
              href="https://www.researchgate.net/profile/Mushhood-Afsar-2"
              ><i style="font-style: none; font-weight: 900; color: black"
                >R</i
              ></a
            >
          </div>
          <a
            id="insta"
            href="https://www.researchgate.net/profile/Mushhood-Afsar-2"
            ><span>ResearchG.</span></a
          >
        </div>
        <div class="button">
          <div class="icon">
            <a
              id="linkedin"
              href="https://www.linkedin.com/in/mushhood-afsar-1a06351b4/"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
          </div>
          <a
            id="linkedin"
            href="https://www.linkedin.com/in/mushhood-afsar-1a06351b4/"
            ><span>Linkedin </span></a
          >
        </div>

        <div class="button">
          <div class="icon">
            <a id="github" href="https://github.com/mushhoodafsar949"
              ><i class="fa fa-github" aria-hidden="true"></i
            ></a>
          </div>
          <a id="github" href="https://github.com/mushhoodafsar949"
            ><span>Github </span></a
          >
        </div>

        <div class="button">
          <div class="icon">
            <a
              id="youtube"
              href="https://www.youtube.com/channel/UC7uYHdn4W3r004JS9RXXYAQ"
              ><i class="fa fa-youtube" aria-hidden="true"></i
            ></a>
          </div>
          <a
            id="youtube"
            href="https://www.youtube.com/channel/UC7uYHdn4W3r004JS9RXXYAQ"
            ><span>YouTube</span></a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div
        class="card"
        style="
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          margin-left: 20px;
          width: 100%;
        "
      >
        <img
          width="100%"
          height="500"
          src="../../assets/images/myMush3.png"
          alt="mushhood image"
        />
      </div>
    </div>
  </div>
</section>

<section style="width: 100%; background-color:gray; margin-top: 200px;
 border-bottom-left-radius:500px; border-top-right-radius: 500px;" class="mybody">

  <div class="slider" style="background-color: transparent; " *ngIf="submit==false">
    <div class="slide-track">

      <div class="slide" type="button" (click)="Slide1()" >
        <div class="innerslidecontent">
          <img
            width="300"
            height="300"
            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project4.PNG"
            alt="Iframes-for-Web-Scrapper"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Iframes for Web Scrapper
          </p>

          <a href="https://mushhoodafsar949.github.io/Iframes-for-Web-Scrapper/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/Iframes-for-Web-Scrapper"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide2()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"
            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project1.PNG"
            alt="E-commerce"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          E-commerce Buisness App Boxpaperscissors
          </p>

          <a href="https://mushhoodafsar949.github.io/boxpaperscissors/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/boxpaperscissors"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide3()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"
            style="
            object-fit: fill;
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project2.PNG"
            alt="Gamil Web app"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
            Gmail Like Web App using Html and Css
          </p>

          <a href="https://mushhoodafsar949.github.io/gamil/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/gamil"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide4()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"
            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project3.PNG"
            alt="Cube Box Animation"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
            Cube Box Animation
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/boxanimations"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide5()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"
            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project5.PNG"
            alt="Hospital-Management-System"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Hospital Management System
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/Hospital-Management-System"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide6()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"
            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project6.PNG"
            alt="Online Theater Seat Buying System"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Online Theater Seat Buying System
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/Online-Theater"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide7()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"

            style="
            object-fit: contain;
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project7.PNG"
            alt="digital-image-processing"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Digital Image Processing
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/digital-image-processing"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide8()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"

            style="
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project8.PNG"
            alt="Bank Management System"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Bank Management System
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/Bank-management-system"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide9()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"

            style="
            object-fit: contain;
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project9.PNG"
            alt="Maths Buddy"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Maths Buddy
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/MathsBuddy"  mat-button>Github</a>
        </div>
      </div>

      <div class="slide" type="button" (click)="Slide10()">
        <div class="innerslidecontent" style="width: 100%; margin: 5px">
          <img
            width="300"
            height="300"

            style="
            object-fit: contain;
              border-radius: 5px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="../../assets/images/project10.PNG"
            alt="Nadra-person-identification-app"
          />
          <p
            style="
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.6;
              text-transform: capitalize;
              margin-top: 12px;
              color: rgba(17, 23, 29, 0.6);
              font-family: Canva Sans, Noto Sans Variable, Noto Sans,
                -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
                sans-serif;
            "
          >
          Nadra person identification app
          </p>

          <a href="https://mushhoodafsar949.github.io/boxanimations/" mat-button>Live Demo</a>
          <a href="https://github.com/mushhoodafsar949/Nadra-person-identification-app"  mat-button>Github</a>
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="num" *ngIf="submit==true">
    <div *ngSwitchCase="'1'" style="text-align:center;">
      <button mat-raised-button type="button" (click)="getback()">Back</button>
    </div>

    <div *ngSwitchCase="'2'" style="text-align:center;">
      <H1 style="font-size: 40px; font-weight:450;  color: white; margin-top: 30px; ">Boxpaperscissors</H1>
        <video width="800"  autoplay style="margin-top: 20px;">
          <source src="../../assets/images/Videos/project1.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      <div style="width:800px; text-align:left; color: white; margin-top: 20px;">
        <label for="H2">Project Type: </label>
        <H2 style="color: white; font-weight:400; text-transform: capitalize;">Static Web Development</H2>
        <H2 style="color: white; font-weight:400; text-transform: capitalize;">Technology: HTML5 CSS3 BOOTSTRAP JAVASCRIPT</H2>
        <H2 style="color: white; font-weight:400; text-transform: capitalize;">Software Used: Visual Sudio Code, Bootstrap Studio</H2>
        <H2 style="color: white; font-weight:400; text-transform: capitalize;">Description: Ecommerce website for shizza saqib.
          It was our semester project to build any ecommerce website.
           we have used simple html, css, bootstrap4
          and javascript in our static web page. Later on
          the project was used for personal buisness purposes by shizza.</H2>
      </div>
      <button mat-raised-button type="button" (click)="getback()">Back</button>
    </div>
    <div *ngSwitchCase="'3'">Three</div>
    <div *ngSwitchCase="'4'">Four</div>
    <div *ngSwitchCase="'5'">Five</div>
    <div *ngSwitchCase="'6'">Six</div>
    <div *ngSwitchCase="'7'">Seven</div>
    <div *ngSwitchCase="'8'">Eight</div>
    <div *ngSwitchCase="'9'">Nine</div>
    <div *ngSwitchCase="'10'">Ten</div>
  </div>

</section>

<div id="myName"></div>

<button type="button" (click)="getData()">click me</button>

<router-outlet></router-outlet>
